In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.max_columns=50
sns.set(style="darkgrid", rc={"axes.facecolor":"#CAF1DE"})

In [7]:
df=pd.read_csv('bse_dataset.csv')
df

,Timestamp,What is your gender?,Age,What is your emotion?,Year of birth,What is your CGPA?,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?
0,05/07/2023 09:38:39,Male,21,Content,2002,4.22,No,No,Yes,Yes,Yes
1,05/07/2023 09:38:57,Marabou stock,45,Weird,2100,8.9,Yes,Yes,Yes,Yes,No
2,05/07/2023 09:39:09,Female,20,Happy,2002,3.98,No,No,Yes,Yes,No
3,05/07/2023 09:39:12,Male,21,Happy,2003,4.37,No,No,No,No,Nope
4,05/07/2023 09:39:14,Female,21,Happy,2002,3.63,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...
92,05/07/2023 09:53:56,Female,68,Sad,1953,4.8,No,Yes,Yes,Yes,Yes
93,05/07/2023 09:54:13,Male,29,Hopeful,1994,I don't know yet,"Sure, multiple girlfriends",No,No,No,No
94,05/07/2023 09:54:28,Male,22,Fighting poverty,2001,3.12,Girl friends are thieves,Yes,Yes,No,No
95,05/07/2023 09:54:36,Male,23,good and bad,2000,3.5,Namiiro Zahara Bidin,No,No,No,No
96,05/07/2023 09:54:52,male,30,hunger,2023,5,ARI,no,yeah,nah,yeah

In [ ]:
#Data analysis work flow
#understanding our dataset
#Data Cleaning
#Exploratory Data Analysis
#

In [11]:
#checking how many rows and columns
df.shape

(97, 11)

In [12]:
#check for the size
df.size

1067

In [14]:
#check columns
df.columns

Index(['Timestamp', 'What is your gender?', 'Age', 'What is your emotion?',
       'Year of birth', 'What is your CGPA?',
       'Do you have a Girl Friend or BOY Friend', 'Do you have Depression?',
       'Do you have Anxiety?', 'Do you have Panic attack?',
       'Did you have seek any specialist for a treatment? '],
      dtype='object')

In [15]:
#check for 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 11 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Timestamp                                           97 non-null     object
 1   What is your gender?                                97 non-null     object
 2   Age                                                 97 non-null     int64
 3   What is your emotion?                               96 non-null     object
 4   Year of birth                                       97 non-null     object
 5   What is your CGPA?                                  97 non-null     object
 6   Do you have a Girl Friend or BOY Friend             97 non-null     object
 7   Do you have Depression?                             97 non-null     object
 8   Do you have Anxiety?                                97 non-null     object
 9   Do you have Panic attack?                           97 non-null     object
 10  Did you have seek any specialist for a treatment?   97 non-null     object
dtypes: int64(1), object(10)
memory usage: 8.5+ KB

In [ ]:
df2=pd.read_csv('bse_dataset2.csv')
df2

,Timestamp,What is your gender?,Age,What is your emotion?,Year of birth,What is your CGPA?,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?
0,05/07/2023 09:38:39,Male,21.0,Content,2002,4.22,No,No,Yes,Yes,Yes
1,05/07/2023 09:38:57,Marabou stock,45.0,Weird,2100,8.9,Yes,Yes,Yes,Yes,No
2,05/07/2023 09:39:09,Female,20.0,Happy,2002,3.98,No,No,Yes,Yes,No
3,05/07/2023 09:39:12,Male,21.0,Happy,2003,4.37,No,No,No,No,Nope
4,05/07/2023 09:39:14,Female,21.0,Happy,2002,3.63,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...
97,05/07/2023 09:56:37,Female,29.0,Grateful,2002,3.6,No,No,No,No,Nope
98,05/07/2023 09:59:18,Female,21.0,Grateful,31/12/2001,2.88,Yes,No,Yes,No,No
99,05/07/2023 10:11:02,Male,21.0,Yes,2002,3.2,No,Yes,Yes,No,No
100,05/07/2023 10:17:36,Female,21.0,Sad,2002,5,Yes,Yes,No,No,No
101,05/07/2023 10:47:51,Male,21.0,Sad,2002,4.6,Yes,Yes,Yes,Yes,No

In [ ]:
df2.isnull().sum().sort_values(ascending=False)